# Eat Safe, Love

## Notebook Set Up

In [57]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

In [58]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)
print(mongo.list_database_names())

['admin', 'config', 'local']

In [59]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [60]:
# review the collections in our database
collections = db.list_collections()
print(collections)

<pymongo.command_cursor.CommandCursor object at 0x000002358EF44AF0>

In [61]:
# assign the collection to a variable
establishments = db['establishments']
print(establishments)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food'), 'establishments')

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [62]:
# Find the establishments with a hygiene score of 20
query =query = {"hygiene_score": 20}
results = db.collection_name.find(query)
# Use count_documents to display the number of documents in the result
count = db.collection_name.count_documents(query)
print("Number of documents:", count)

# Display the first document in the results using pprint
if count > 0:
    first_document = next(results)
    pprint(first_document)
else:
    print("No documents found.")

Number of documents: 0
No documents found.

In [63]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
num_rows = df.shape[0]
print("Number of rows:", num_rows)
# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows: 0
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [67]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={
        "LocalAuthority": "London",
        "RatingValue": {"$gte": 4}
        }

# Use count_documents to display the number of documents in the result
results = db.collection_name.find(query)
count = db.collection_name.count_documents(query)
# Display the first document in the results using pprint
if count > 0:
    # Retrieve the first document in the results using next()
    first_document = next(results)
    pprint(first_document)
else:
    print("No documents found.")

No documents found.

In [68]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
num_rows = df.shape[0]
print("Number of rows:", num_rows)
# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows: 0
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [69]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51
longitude = -0.12

query = {
        "RatingValue": 5,
        "Latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
        "Longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
        }
sort =  sort = [("hygiene_score", 1)]

# Print the results
results = db.collection_name.find(query).sort(sort).limit(5)
for result in results:
    pprint(result)

In [70]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(results)
print(df)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [71]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
            {"$match": {"hygiene_score": 0}},
            {"$group": {"_id": "$LocalAuthority", "count": {"$sum": 1}}},
            {"$sort": {"count": -1}}
            ]
results = db.collection_name.aggregate(pipeline)

# Print the number of documents in the result
count = db.collection_name.count_documents({"hygiene_score": 0})
print("Number of documents:", count)

# Print the first 10 results
for result in results:
    pprint(result)

Number of documents: 0

In [72]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
num_rows = df.shape[0]
print("Number of rows:", num_rows)
# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows: 0
Empty DataFrame
Columns: []
Index: []